

.menu{
  background-color: #232222;
  height:75px;
  display: flex;
  flex-direction: row;
  align-items: center;
  // border-right: 2px solid #3a362d;
  padding-left: 200px;
  opacity: 0.5;

}

.menuitem{
  font-size: 18px;
  font-weight: 700;
  color: #d4d4d4;
  width: 120px;
  margin-left: 15px;
}

.menuitem:hover{
  color:rgb(197, 205, 50)
}
