
.bian {
  background-image:url("../../../src/assets/img/bian.jpg") ;
  height: 35px;
  width: 100%;
}

.logo{
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 1;
  margin-left: 95px;
  padding-top: 15px;
  border-radius: 25%;
}
