
.top_select{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    margin: auto;
    color: #d2d2d2;
    padding: 10px;
    background-color: #14141e;
    font-size: 22px;
    font-weight: bold;
}